body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    background: linear-gradient(135deg, #000000 0%, #8B0000 100%);
}

.container {
    background-color: #0C0C0C;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    width: 603px;
    height: 20%;
    padding-left: 57px;
    padding-top: 31px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    color: #ffffff;

    h2 {
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 17px;
    }
}

.inputArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 489px;

    .inputBox {
        background-color: #ffffff;
        border-radius: 8px;
        width: 489px;
        height: 55px;
        flex-shrink: 0;
        border-style: none;
        font-size: 16px;
        font-family: Arial;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    p {
        color: #FFF;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 0 10px;
    }

    button {
        width: 489px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #B32E25;
        border-style: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 10px 0 0 0;
    }

    button:hover {
        cursor: pointer;
        background: #ffffff;
        color: #B32E25;
        transition: all 0.3s ease;
        font-weight: 500;
        font-size: 32px;
    }

    a {

    display: block;
    width: 489px;
    height: 45px;
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #B32E25;
    text-decoration: underline;
    transition: all 0.3s ease;
    text-align: left;
    }

    .mensagem {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      width: 489px;
      text-align: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
    }

    .erro {
      background-color: #ffdddd;
      color: #B32E25;
      border: 1px solid #B32E25;
    }

    .sucesso {
      background-color: #ddffdd;
      color: #006400;
      border: 1px solid #006400;
    }
}

.inputArea.login {
    gap: 25px;
}